
.viewport {
  width: 80%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%; 
  min-width: 0;
}

.cat {
  width:95%;
  max-height: 500px;
  border-radius: 8px;
  display: block;
}
